@use "../abstracts/abstracts" as *;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLightItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBoldItalic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBoldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2")
      format("woff2"),
    url("../../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// COLORS FONT

.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  font-family: $font-primary;
  color: $black;
}
.body-m,
.body-s {
  font-family: $font-primary;
  color: $grey;
}
.heading-xl {
  font-size: 56px;
  line-height: 70px;
  font-weight: 800;
}
.heading-l {
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
}
.heading-m {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
}
.heading-s {
  font-size: 21px;
  line-height: 28px;
  font-weight: 800;
}
.body-m {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  &-pink {
    font-weight: 800;
    color: $pink;
  }
}
.body-s {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.logo {
  font-family: $font-primary;
  font-size: 28px;
  line-height: 35.28px;
  letter-spacing: 0;
  font-weight: 800;
}
